<!doctype html>
<html lang="en">
<head>
    <title>Set up your credentials</title>
</head>
<body>
<h1>Set up your credentials</h1>

<ul>
    <li><a href="index.html">Projects</a></li>
</ul>
<form id="credentials" @submit="formSubmit">
    <p v-if="success" style="color:green">Login successful!</p>
    <p v-if="error" style="color: red">{{error}}</p>

    <p>
        <label>
            Username:
            <input type="text" v-model="data.username" required>
        </label>
    </p>
    <p>
        <label>
            Password:
            <input type="password" v-model="data.password" required>
        </label>
    </p>
    <p>
        <input type="submit"/>
    </p>
</form>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.19.2/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#credentials',
        data() {
            return {
                data: {
                    username: '',
                    password: ''
                },
                error: '',
                success: false,
            }
        },
        mounted() {
            axios
                .get('api/v1/credentials')
                .then(response => (this.data = response.data))
                .catch(error => (this.error = error));
        },
        methods: {
            formSubmit(e) {
                e.preventDefault();
                axios
                    .post('api/v1/credentials', this.data)
                    .then(response => {
                        this.data = response.data;
                        this.error = '';
                        this.success = true;
                    })
                    .catch(error => {
                        this.error = error.response.data.message;
                        this.success = false;
                    });
            }
        }
    });
</script>
</body>
</html>
